<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%file => %line] %m%n" />
        </Console>
        <RollingFile name="rollingFile" fileName="/logs/demo/demo.log" filePattern="/logs/demo/demo.%i.log">
        	<PatternLayout pattern="%d %5p [%file => %line] %m%n" />
        	<Policies>
        		<SizeBasedTriggeringPolicy size="10M" />
        	</Policies>
        	<DefaultRolloverStrategy max="3" fileIndex="min" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- log SQL with timing information, post execution -->
        <Logger name="jdbc.sqltiming" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.connection" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.audit" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.resultset" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.sqlonly" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
        
        <Logger name="demo" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile" />
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
