
$lg: #eee;
$yl: yellow;
$border: solid black 1px;

.x_box {
    &:hover {
        background-color: $lg;
    }
}

@mixin flexCenter($align, $type, $color: black) {
    display: flex;
    justify-content: center;
    align-items: $align;
    flex-wrap: wrap;
}

.color-box {
    @include flexCenter(center, none);
    padding-top: 20px;
    .x_box {
        border: $border;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-color: $lg;
        margin: 12px;
        @include flexCenter(center, solid, fuchsia);
        &:hover {
            background-color: $yl;
        }
    }
}